{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dragoman</title>
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="../static/images/translator.png" type="image/jpg">
  </head>
  <body>
        <video autoplay muted loop id="myVideo">
          <source src="{% static 'images/letter.mp4' %}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>

        <div class="row box">
            <img src="{% static 'images/translator.png' %}" class='logo'>
            <h1>DRAGOMAN</h1>
            <ul class="social-links main-header">
                  <li>
                    <a href="https://ashishmj.herokuapp.com/"  target="_blank"><img src="{% static 'images/www.png' %}" alt="website logo" class="links"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ashish-mj/"  target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="linkedin logo" class="links"></a>
                </li>
                <li>
                    <a href="https://github.com/ashish-mj"  target="_blank"><img src="{% static 'images/github.png' %}" alt="github logo" class="links"></a>
                </li>
               
          </ul>
        </div>
        
        <div class="row form-text">
            <div class="col span-1-of-3"></div>
            <div class="col span-1-of-3">
            <form action="{% url 'translate'%}">
                <input type="text" name="initial_text" placeholder="Enter the text to be translated"/>
                <br/>
                <div class="row radio">
                  <input type="radio" id="hindi" name="type" value="English-Hindi" checked="checked">
                  <label for="hindi">English-Hindi</label>
                  <input type="radio" id="english" name="type" value="Hindi-English">
                  <label for="english">Hindi-English</label><br/>
                </div>
                <input type="submit" value="Translate"/>
            </form>
            </div>
            <div class="col span-1-of-3"></div>
        </div>   
 </body>
 </html>